main{
    height: 100vh;
}

/* Contenedor principal */
.container {
    margin: 2rem auto;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1f2937;
    background-color: #f9fafb;
    height: 100vh;
}

.calendar-nav {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 90%;
}

.Botones-fecha{
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}
.current-month-year{    
    font-size: 1.5rem;
    font-weight: 700;
    color: #1f2937;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

/* Botones de navegación */
.btn {
    display: flex;
    padding:  1rem;
    border-radius: 0.375rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.btn-secondary {
    border: #0062ff 1px solid;
    color: #1f2937;
}

.btn-secondary:hover {
    border: 1px solid blue;
}

.btn img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    
}

/* Cards */
.card {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem;
}

/* Alertas */
.alert {
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.alert-success {
    background-color: #d1fae5;
    color: #065f46;
}

/* Titulos */
span {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

/* Cumpleañeros hoy */
.alert p {
    font-size: 1rem;
    margin: 0.2rem 0;
}

/* Lista de cumpleaños del mes */
.card p {
    font-size: 0.95rem;
    margin: 0.2rem 0;
}

/* Animación simple */
.card p {
    position: relative;
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1rem;
}

.day-header {
    font-weight: 900;
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calendar-day {
    min-height: 80px;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 0.85rem;
    
}

.calendar-day.today {
    border-color: #0062ff;
    background-color: #006eff;
    color: #ffffff;
}

.calendar-day.has-birthday {
    background-color: #ff9100;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.day-number {
    font-weight: 200;
    font-size: 2rem;
}

.cumple {
    font-size: 0.75rem;
    background-color: #ffffff;
    padding: 4px ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0.5rem;
}
.inactive {
    background-color: #f3f4f6;
}


.Lista-Cumpleaños-mes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Lista-Cumpleaños-mes ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 10px;
}
.Lista-Cumpleaños-mes li{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
}

.Dia-cumple{
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ff9900;
    color: #ffffff;
    border-radius: 50%;
}

.Nombre-cumple{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #1f2937;
    margin-left: 10px;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .cumple{
        font-size: 0.5rem;
        width: 50px;
    }

    .container {
        padding: 0.5rem;
        height: 100vh;
    }
    .calendar-nav{
        justify-content: end;
    }
    .calendar-day{
        min-height: 70px;
        padding: 2px;
        font-size: 5px;
    }
    .day-number{
        font-size: 1rem;
    }
}